<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Parte 1 - Escala Seguridad Alimentaria PR</title>
</head>
<body>
  <h1>Parte 1 (A1 - A3)</h1>
  <p>
    Las siguientes situaciones tienen que ver con la alimentación en su hogar y si usted pudo adquirir los alimentos que necesitaba durante los pasados 3 meses.
  </p>
  <form method="post" action="{% url 'escala_part2' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Siguiente</button>
</form>

</body>
</html>
