<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Indice de Precios al Consumidor</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'data_apps/css/indicadores.css' %}" />
    <link rel="stylesheet" href="{% static 'data_apps/css/product_hts.css' %}" />
    <link rel="stylesheet" href="{% static 'data_apps/css/website.css' %}" />

    <!-- JS -->        
    <script> window.API_URL = "{{ api|escapejs }}";</script>
    <script src="{% static 'js/exportcsv.js' %}" defer></script>
  </head>

  <body>

    <main>
      <form id="hts-form" method="post" style="padding-left: 120px; padding-bottom: 20px;">
          {% csrf_token %}
          <div style="font-weight: bold; font-size: 24px; padding-bottom: 20px; padding-top: 20px;">Índice de Precios al Consumidor</div>
          <section id="dropdowns">
              <label id="drop_title" for="frequency">Frecuencia:</label>
              <select name="frequency" id="frequency">
                  <option value="Yearly" {% if selected_frequency == "yearly" %}selected{% endif %}>Yearly</option>
                  <option value="Monthly" {% if selected_frequency == "monthly" %}selected{% endif %}>Monthly</option>
                  <option value="Quarterly" {% if selected_frequency == "quarterly" %}selected{% endif %}>Quarterly</option>
                  <option value="Fiscal" {% if selected_frequency == "fiscal" %}selected{% endif %}>Fiscal</option>
              </select>

              <label id="drop_title" for="column">Categoría:</label>
              <select name="columns" id="columns">
                {% for column in columns %}
                    <option value="{{ column.value }}" {% if selected_column == column.value %}selected{% endif %}>{{ column.label }}</option>
                {% endfor %}
              </select>
              <button id="submit" type="submit">Submit</button>

              <button type="button" id="submit_3" onclick="downloadCSV('frequency','indices_precio','files/index/consumer_index')" title="Descargar archivo CSV indice de precios al consumidor">Descargar CSV</button>
          </section>

          <!-- Contenedor de la gráfica -->
          <div class="graph_container">
              {{ consumer|safe }}
          </div>

          <div style="font-weight: bold; font-size: 24px; padding-bottom: 20px; padding-top: 20px;">Índice de Precios al Consumidor - Crecimiento Porcentual Interanual</div>
          <section id="dropdowns">
              <label id="drop_title" for="frequency_2">Frecuencia:</label>
              <select name="frequency_2" id="frequency_2">
                  <option value="Yearly" {% if selected_frequency_2 == "yearly" %}selected{% endif %}>Yearly</option>
                  <option value="Monthly" {% if selected_frequency_2 == "monthly" %}selected{% endif %}>Monthly</option>
                  <option value="Quarterly" {% if selected_frequency_2 == "quarterly" %}selected{% endif %}>Quarterly</option>
                  <option value="Fiscal" {% if selected_frequency_2 == "fiscal" %}selected{% endif %}>Fiscal</option>
              </select>

              <label id="drop_title" for="column_2">Categoría:</label>
              <select name="columns_2" id="columns_2">
                {% for column in columns %}
                    <option value="{{ column.value }}" {% if selected_column_2 == column.value %}selected{% endif %}>{{ column.label }}</option>
                {% endfor %}
              </select>
              <button id="submit" type="submit">Submit</button>

              <button type="button" id="submit_3" onclick="downloadCSV('frequency_2','cambio_porcentual','files/index/consumer_index')" title="Descargar archivo CSV índice de precios al consumidor">Descargar CSV</button>
          </section>

          <!-- Contenedor de la gráfica -->
          <div class="graph_container">
              {{ cambio_porcentual|safe }}
          </div>

          <div style="font-weight: bold; font-size: 24px; padding-bottom: 20px; padding-top: 20px;">Índice de Precios al Consumidor - Tasa de Crecimiento Interanual</div>
          <section id="dropdowns">
              <label id="drop_title" for="frequency_3">Frecuencia:</label>
              <select name="frequency_3" id="frequency_3">
                  <option value="Yearly" {% if selected_frequency_3 == "yearly" %}selected{% endif %}>Yearly</option>
                  <option value="Monthly" {% if selected_frequency_3 == "monthly" %}selected{% endif %}>Monthly</option>
                  <option value="Quarterly" {% if selected_frequency_3 == "quarterly" %}selected{% endif %}>Quarterly</option>
                  <option value="Fiscal" {% if selected_frequency_3 == "fiscal" %}selected{% endif %}>Fiscal</option>
              </select>

              <label id="drop_title" for="column_3">Categoría:</label>
              <select name="columns_3" id="columns_3">
                {% for column in columns %}
                    <option value="{{ column.value }}" {% if selected_column_3 == column.value %}selected{% endif %}>{{ column.label }}</option>
                {% endfor %}
              </select>
              <button id="submit" type="submit">Submit</button>

              <button type="button" id="submit_3" onclick="downloadCSV('frequency_3','primera_diferencia','files/index/consumer_index')" title="Descargar archivo CSV índice de precios al consumidor">Descargar CSV</button>
          </section>

          <!-- Contenedor de la gráfica -->
          <div class="graph_container">
              {{ primera_diferencia|safe }}
          </div>
      </form>

    </main>

    <script src="{% static 'js/header_menu.js' %}"></script>
  </body>
</html>
