
body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cambria", serif;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 900px; /* Adjust width as needed */
}
.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.logo {
  width: 100px;
  height: auto;
}

/* Title Styles */
.title-container {
  margin-top: 20px;
  font-family: "Arial Narrow", serif;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
}

/* Footer Styles */
.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial Narrow", serif;
}

.adaptation {
  font-weight: bold;
  font-size: 16px;
}

.dept, .authors, .school, .year {
  margin-top: 5px;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes footer to bottom */
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  width: 100%;
}
